body {
  background-color: bisque;
}

div  {
  text-align: center;
}

h1 {
  text-align: center;
 
}

h2 {
  color: blue;
  text-align: center;
}

p {
  text-align: center;
}

section {
  text-align: center;
}

section p {
  
  background-color: rgb(159, 230, 233);
  text-align: center;
  color: rgb(126, 8, 24);
  font-weight: 900;
  text-align: center;
}